<ul class="nk-forum">
    <li>
        <div class="nk-forum-icon">
            <span class="ion-pin"></span>
        </div>
        <div class="nk-forum-title">
            <h3><a href="forum-single-topic.html">Suggestions</a></h3>
            <div class="nk-forum-title-sub">Started by <a href="#">nK</a> on January 17, 2018</div>
        </div>
        <div class="nk-forum-count">
            178 posts
        </div>
        <div class="nk-forum-activity-avatar">
            <a href="forum-single-topic.html">
                <img src="assets/images/avatar-1.jpg" alt="Hitman">
            </a>
        </div>
        <div class="nk-forum-activity">
            <div class="nk-forum-activity-title" title="Hitman">
                <a href="#">Hitman</a>
            </div>
            <div class="nk-forum-activity-date">
                September 11, 2018
            </div>
        </div>
    </li>
    <li class="nk-forum-locked">
        <div class="nk-forum-icon">
            <span class="ion-locked"></span>
        </div>
        <div class="nk-forum-title">
            <h3><a href="forum-single-topic.html">Are you ready for 2.0 release?</a></h3>
            <div class="nk-forum-title-sub">Started by <a href="#">Hitman</a> on August 23, 2018</div>
        </div>
        <div class="nk-forum-count">
            3 posts
        </div>
        <div class="nk-forum-activity-avatar">
            <a href="forum-single-topic.html">
                <img src="assets/images/avatar-2.jpg" alt="Witch Murder">
            </a>
        </div>
        <div class="nk-forum-activity">
            <div class="nk-forum-activity-title" title="Witch Murder">
                <a href="#">Witch Murder</a>
            </div>
            <div class="nk-forum-activity-date">
                August 26, 2018
            </div>
        </div>
    </li>
    <li>
        <div class="nk-forum-icon">
            <span class="ion-chatboxes"></span>
        </div>
        <div class="nk-forum-title">
            <h3><a href="forum-single-topic.html">When will be next closed beta?</a></h3>
            <div class="nk-forum-title-sub">Started by <a href="#">Hitman</a> on August 9, 2018</div>
        </div>
        <div class="nk-forum-count">
            4 posts
        </div>
        <div class="nk-forum-activity-avatar">
            <a href="forum-single-topic.html">
                <img src="assets/images/avatar-3.jpg" alt="Wolfenstein">
            </a>
        </div>
        <div class="nk-forum-activity">
            <div class="nk-forum-activity-title" title="Wolfenstein">
                <a href="#">Wolfenstein</a>
            </div>
            <div class="nk-forum-activity-date">
                August 15, 2018
            </div>
        </div>
    </li>
    <li>
        <div class="nk-forum-icon">
            <span class="ion-chatboxes"></span>
        </div>
        <div class="nk-forum-title">
            <h3><a href="forum-single-topic.html">Add new post types</a></h3>
            <div class="nk-forum-title-sub">Started by <a href="#">Witch Murder</a> on Jule 28, 2018</div>
        </div>
        <div class="nk-forum-count">
            1 post
        </div>
        <div class="nk-forum-activity-avatar">
            <a href="forum-single-topic.html">
                <img src="assets/images/avatar-2.jpg" alt="Witch Murder">
            </a>
        </div>
        <div class="nk-forum-activity">
            <div class="nk-forum-activity-title" title="Witch Murder">
                <a href="#">Witch Murder</a>
            </div>
            <div class="nk-forum-activity-date">
                Jule 28, 2018
            </div>
        </div>
    </li>
    <li>
        <div class="nk-forum-icon">
            <span class="ion-chatboxes"></span>
        </div>
        <div class="nk-forum-title">
            <h3><a href="forum-single-topic.html">Clan Wars functionality</a></h3>
            <div class="nk-forum-title-sub">Started by <a href="#">Hitman</a> on June 17, 2018</div>
        </div>
        <div class="nk-forum-count">
            8 posts
        </div>
        <div class="nk-forum-activity-avatar">
            <a href="forum-single-topic.html">
                <img src="assets/images/avatar-1.jpg" alt="Hitman">
            </a>
        </div>
        <div class="nk-forum-activity">
            <div class="nk-forum-activity-title" title="Hitman">
                <a href="#">Hitman</a>
            </div>
            <div class="nk-forum-activity-date">
                Jule 6, 2018
            </div>
        </div>
    </li>
    <li>
        <div class="nk-forum-icon">
            <span class="ion-chatboxes"></span>
        </div>
        <div class="nk-forum-title">
            <h3><a href="forum-single-topic.html">Some questions before start</a></h3>
            <div class="nk-forum-title-sub">Started by <a href="#">Hitman</a> on June 28, 2018</div>
        </div>
        <div class="nk-forum-count">
            1 post
        </div>
        <div class="nk-forum-activity-avatar">
            <a href="forum-single-topic.html">
                <img src="assets/images/avatar-1.jpg" alt="Hitman">
            </a>
        </div>
        <div class="nk-forum-activity">
            <div class="nk-forum-activity-title" title="Hitman">
                <a href="#">Hitman</a>
            </div>
            <div class="nk-forum-activity-date">
                June 28, 2018
            </div>
        </div>
    </li>
</ul>