
<div class="nk-gap-1"></div>
<div class="container">
    <ul class="nk-breadcrumbs">
        
        
       
        
    
        
        <li><span>Main Topic Discussions</span></li>
        
    </ul>
</div>
<div class="nk-gap-1"></div>
<div class="row justify-content-end">
    <div class="col-md-3 text-right">
        <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white" data-toggle="modal" data-target="#modalThread" >New Threads</a>
    </div>
</div>
<!-- END: Pagination -->
<div class="nk-gap-2"></div>
<ul class="nk-forum">
    <li>
        <div class="nk-forum-icon">
            <span class="ion-pin"></span>
        </div>
        <div class="nk-forum-title">
            <h3><a href="forum-single-topic.html">Suggestions</a></h3>
            <div class="nk-forum-title-sub">Started by <a href="#">nK</a> on January 17, 2018</div>
        </div>
        <div class="nk-forum-count">
            178 posts
        </div>
        <div class="nk-forum-activity-avatar">
            <a href="forum-single-topic.html">
                <img src="assets/images/avatar-1.jpg" alt="Hitman">
            </a>
        </div>
        <div class="nk-forum-activity">
            <div class="nk-forum-activity-title" title="Hitman">
                <a href="#">Hitman</a>
            </div>
            <div class="nk-forum-activity-date">
                September 11, 2018
            </div>
        </div>
    </li>
    <li class="nk-forum-locked">
        <div class="nk-forum-icon">
            <span class="ion-locked"></span>
        </div>
        <div class="nk-forum-title">
            <h3><a href="forum-single-topic.html">Are you ready for 2.0 release?</a></h3>
            <div class="nk-forum-title-sub">Started by <a href="#">Hitman</a> on August 23, 2018</div>
        </div>
        <div class="nk-forum-count">
            3 posts
        </div>
        <div class="nk-forum-activity-avatar">
            <a href="forum-single-topic.html">
                <img src="assets/images/avatar-2.jpg" alt="Witch Murder">
            </a>
        </div>
        <div class="nk-forum-activity">
            <div class="nk-forum-activity-title" title="Witch Murder">
                <a href="#">Witch Murder</a>
            </div>
            <div class="nk-forum-activity-date">
                August 26, 2018
            </div>
        </div>
    </li>
    <li>
        <div class="nk-forum-icon">
            <span class="ion-chatboxes"></span>
        </div>
        <div class="nk-forum-title">
            <h3><a href="forum-single-topic.html">When will be next closed beta?</a></h3>
            <div class="nk-forum-title-sub">Started by <a href="#">Hitman</a> on August 9, 2018</div>
        </div>
        <div class="nk-forum-count">
            4 posts
        </div>
        <div class="nk-forum-activity-avatar">
            <a href="forum-single-topic.html">
                <img src="assets/images/avatar-3.jpg" alt="Wolfenstein">
            </a>
        </div>
        <div class="nk-forum-activity">
            <div class="nk-forum-activity-title" title="Wolfenstein">
                <a href="#">Wolfenstein</a>
            </div>
            <div class="nk-forum-activity-date">
                August 15, 2018
            </div>
        </div>
    </li>
    <li>
        <div class="nk-forum-icon">
            <span class="ion-chatboxes"></span>
        </div>
        <div class="nk-forum-title">
            <h3><a href="forum-single-topic.html">Add new post types</a></h3>
            <div class="nk-forum-title-sub">Started by <a href="#">Witch Murder</a> on Jule 28, 2018</div>
        </div>
        <div class="nk-forum-count">
            1 post
        </div>
        <div class="nk-forum-activity-avatar">
            <a href="forum-single-topic.html">
                <img src="assets/images/avatar-2.jpg" alt="Witch Murder">
            </a>
        </div>
        <div class="nk-forum-activity">
            <div class="nk-forum-activity-title" title="Witch Murder">
                <a href="#">Witch Murder</a>
            </div>
            <div class="nk-forum-activity-date">
                Jule 28, 2018
            </div>
        </div>
    </li>
    <li>
        <div class="nk-forum-icon">
            <span class="ion-chatboxes"></span>
        </div>
        <div class="nk-forum-title">
            <h3><a href="forum-single-topic.html">Clan Wars functionality</a></h3>
            <div class="nk-forum-title-sub">Started by <a href="#">Hitman</a> on June 17, 2018</div>
        </div>
        <div class="nk-forum-count">
            8 posts
        </div>
        <div class="nk-forum-activity-avatar">
            <a href="forum-single-topic.html">
                <img src="assets/images/avatar-1.jpg" alt="Hitman">
            </a>
        </div>
        <div class="nk-forum-activity">
            <div class="nk-forum-activity-title" title="Hitman">
                <a href="#">Hitman</a>
            </div>
            <div class="nk-forum-activity-date">
                Jule 6, 2018
            </div>
        </div>
    </li>
    <li>
        <div class="nk-forum-icon">
            <span class="ion-chatboxes"></span>
        </div>
        <div class="nk-forum-title">
            <h3><a href="forum-single-topic.html">Some questions before start</a></h3>
            <div class="nk-forum-title-sub">Started by <a href="#">Hitman</a> on June 28, 2018</div>
        </div>
        <div class="nk-forum-count">
            1 post
        </div>
        <div class="nk-forum-activity-avatar">
            <a href="forum-single-topic.html">
                <img src="assets/images/avatar-1.jpg" alt="Hitman">
            </a>
        </div>
        <div class="nk-forum-activity">
            <div class="nk-forum-activity-title" title="Hitman">
                <a href="#">Hitman</a>
            </div>
            <div class="nk-forum-activity-date">
                June 28, 2018
            </div>
        </div>
    </li>
</ul>
<div class="nk-gap-1"></div>
<div class="row justify-content-end">
    <div class="col-md-3 text-right">
        <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white" data-toggle="modal" data-target="#modalThread" >New Thread</a>
    </div>
</div>




<div class="nk-modal modal fade" id="modalThread" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>

                <h4 class="mb-0"><span class="text-main-1">New </span> Thread</h4>

                <div class="nk-gap-1"></div>
                <form action="#" class="nk-form text-white">
                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            Title

                            <div class="nk-gap"></div>
                            <input #title type="email" value="" name="title" class=" form-control" placeholder="Title">

                            <div class="nk-gap"></div>
                            Description
                            <div class="nk-gap"></div>
                            <textarea #description class="form-control required" name="message" rows="5" placeholder="description *"></textarea>
                        </div>
                        <div class="col-md-6" >
                         
                            
                            <div class="row">
                                <div class="col-md-5 offset-md-3">
                                    <h5>Add Attachement </h5>            
                                    <div class="form-group">
                                        <input  type="file" name="image" (change)="fileProgress($event)" />
                                    </div>
                                    <div *ngIf="fileUploadProgress">
                                        Upload progress: {{ fileUploadProgress }}
                                    </div>
                                    <div class="image-preview mb-3" *ngIf="previewUrl">
                                        <img [src]="previewUrl" height="100" />                 
                                    </div>
                         
                                    <div class="mb-3" *ngIf="uploadedFilePath">
                                        {{uploadedFilePath}}
                                    </div>
                                     
                                   
                                </div>
                            </div>

                        </div>
                                
                         
                       
                        
                    </div>

                    <div class="nk-gap-1"></div>
                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            <a (click)="addattachemnt(title.value,description.value)"  class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block">send attachement</a>
                        </div>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
