
<div class="nk-gap-1"></div>
<div class="container">
    <ul class="nk-breadcrumbs">
        
        
       
        
    
        
        <li><span>Main {{tpc.TopicName}} Discussions</span></li>
        
    </ul>
</div>
<div class="nk-gap-1"></div>
<div class="row justify-content-end">
    <div class="col-md-3 text-right">
        <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white" *ngIf="userforumstate == 1"  data-toggle="modal" data-target="#modalThread" >New Thread</a>
      
    </div>
   
</div>
<!-- END: Pagination -->
<div class="nk-gap-2"></div>

<div  *ngFor="let item of listviewstops">
    
<ul class="nk-forum">
   <li>
        <div class="nk-forum-icon">
            <span class="ion-pin"></span>
        </div>
        <div class="nk-forum-title">
            <h3><a (click)="gotoyhreadsdetail(item)">{{item.title}}</a></h3>
            <div class="nk-forum-title-sub">Started by <a href="#">{{item.sender.username}}</a> {{ item.addtime|date:'short' }}</div>
        </div>
        <div class="nk-forum-count" *ngIf="item.lastpost" >
            posts : {{item.numberofposts}}
        </div>
        <div class="nk-forum-activity-avatar">
            <a href="forum-single-topic.html">
                <img  *ngIf="item.lastpost"   src="http://localhost:1337/avatars/{{item.lastpost.sender.id_user}}.jpg" >
            </a>
        </div>
        <div class="nk-forum-activity">
            <div class="nk-forum-activity-title" title="Hitman">
                <a href="#"></a>
            </div>
            <div *ngIf="item.lastpost" class="nk-forum-activity-date">
                last post by : {{item.lastpost.sender.username}}
                {{item.lastpost.replytime | date:'short'}}
            </div>
        </div>
    </li>

    
    
    
    </ul>
</div>
<div class="nk-gap-1"></div>
<div class="row justify-content-end">
    <div class="col-md-3 text-right">
        <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white" data-toggle="modal" data-target="#modalThread" *ngIf="userforumstate == 1" >New Thread</a>
       
    </div>
    <span  class="nk-forum-action-btn"  *ngIf="userforumstate == 0">
        <a style="color: red ;">   you are banned from forum service u can send us an e-mail by clicking on this icon</a>
         <a  class="nk-anchor"   style="margin-left: 15px;"  ><span class="fab fa-flag"    data-toggle="modal" data-target="#modalemail"   ></span> </a>
     </span>
</div>




<div class="nk-modal modal fade" id="modalThread" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>

                <h4 class="mb-0"><span class="text-main-1">New </span> Thread</h4>

                <div class="nk-gap-1"></div>
                <form action="#" class="nk-form text-white" [formGroup]="userForm" >
                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            Title

                            <div class="nk-gap"></div>
                            <input #title type="email" value="" name="title" class=" form-control" placeholder="Title" formControlName="title">
                               
                            <div #ref *ngIf="NameC.invalid && NameC.touched" [ngStyle]="styleClass">  
                                <div  *ngIf=" NameC.errors.required">
                                    title obligatoire
                                </div>
                                <div  *ngIf=" NameC.errors.minlength" >
                                  minimum 2 caracteres
                                  </div>
                              </div>
                            <div class="nk-gap"></div>
                            Description
                            <div class="nk-gap"></div>
                            <textarea #description class="form-control required" formControlName="description" name="message" rows="5" placeholder="description *"></textarea>
                                <div #ref *ngIf="DescriptionC.invalid && DescriptionC.touched" [ngStyle]="styleClass">  
                                <div  *ngIf=" DescriptionC.errors.required">
                                    description  obligatoire
                                </div>
                         
                              </div>
                        </div>
                        <div class="col-md-6" >
                         
                            
                            <div class="row">
                                <div class="col-md-5 offset-md-3">
                                    <h5>Add Attachement </h5>            
                                    <div class="form-group">
                                        <input  type="file" name="image" (change)="fileProgress($event)" formControlName="image" />
                                       
                                        <div #ref *ngIf="ImageC.invalid && ImageC.touched" [ngStyle]="styleClass">  
                                            <div  *ngIf=" ImageC.errors.required">
                                                image obligatoire
                                            </div>
                                          </div>
                                    </div>
                                    <div *ngIf="fileUploadProgress">
                                        Upload progress: {{ fileUploadProgress }}
                                    </div>
                                    <div class="image-preview mb-3" *ngIf="previewUrl">
                                        <img [src]="previewUrl" height="100" />                 
                                    </div>
                         
                                    <div class="mb-3" *ngIf="uploadedFilePath">
                                        {{uploadedFilePath}}
                                    </div>
                                     
                                   
                                </div>
                            </div>

                        </div>
                                
                         
                       
                        
                    </div>

                    <div class="nk-gap-1"></div>
                    <div class="row vertical-gap">
                        <div class="col-md-6" *ngIf="(!(NameC.invalid) && !(DescriptionC.invalid)&& !(ImageC.invalid)) " >
                            <a  (click)="addattachemnt(title.value,description.value)" data-dismiss="modal"  class="nk-btn nk-btn-rounded nk-btn-color-black nk-btn-block">send attachement</a>
                        </div>
                      
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="nk-modal modal fade" id="modalemail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>

                <h4 class="mb-0"><span class="text-main-1">Contact </span> Support</h4>

                <div class="nk-gap-1"></div>
                <form [formGroup]="userForm" action="#" class="nk-form text-white" >
                    <div class="row vertical-gap">
                        <div class="col-md-9">
                           
                            Report title

                            <div class="nk-gap"></div>
                            <input  #desctitle type="text" formControlName="desctitle" ng-model="inputText" class=" form-control">
                            <div #ref *ngIf="desctitleC.invalid && desctitleC.touched" [ngStyle]="styleClass">  
                                <div  *ngIf=" desctitleC.errors.required">
                                    email description 
                                </div>
                                <div  *ngIf=" desctitleC.errors.minlength" >
                                  minimum 2 caracteres
                                  </div>
                              </div>
                            <div class="nk-gap"></div>
                            email content
                            <div class="nk-gap"></div>
                            <textarea #contentdescription class="form-control required" formControlName="contentdescription" name="message" rows="5" placeholder="description *"></textarea>
                                <div #ref *ngIf="contentdescriptionC.invalid && contentdescriptionC.touched" [ngStyle]="styleClass">  
                                <div  *ngIf=" contentdescriptionC.errors.required">
                                    description  obligatoire
                                </div>
                         
                              </div>
                        </div>
                        
                        
                                
                         
                       
                        
                    </div>

                    <div class="nk-gap-1"></div>
                    <div class="row vertical-gap">
                        <div div class="col-md-6"  *ngIf="(!(desctitleC.invalid) && !(contentdescriptionC.invalid)) " >
                            <a  data-dismiss="modal" (click)="sendmail(contentdescription.value,desctitle.value)" class="nk-btn nk-btn-rounded nk-btn-color-black nk-btn-block">send Mail</a>
                        </div>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>