
<div class="container">
    <div class="nk-footer">
        <label style="margin-left: 420px;margin-top: 30px;" > <h4>{{data[0].tournamentname}} </h4></label>
<form action="#" class="nk-form text-white" #myform="ngForm">


    <div class="row vertical-gap">
        <div class="col-md-12">
            <div class="nk-gap"></div>
            
            

            <label style="margin-left: 55px;">Selected Game :</label>
            <input   readonly="true" class="form-control"   style="width: 280px;margin-left: 50px;color: black;" placeholder={{data[0].gamename}}  >
            <br/><br/>
            
            <div class="row vertical-gap sm-gap">
                <div class="col-md-2">
                    <label style="margin-left: 55px;">Type : </label>
                </div>

                

                <div class="col-md-2">
                    <input  readonly [(ngModel)]="type" type="text"  placeholder={{data[0].type}} name="gender" class="form-control" style="width: 90%;color: black;">

                </div>

            </div>
            
            

            <br/>
            <label style="margin-left: 55px;">Tournament Name :</label>
            <input readonly [(ngModel)]="tournamentname"  type="text" value="" placeholder={{data[0].tournamentname}} required name="email" class="form-control"   style="width: 280px;margin-left: 50px;color: black;">
            <br/>

            <div class="row vertical-gap sm-gap">
                <div class="col-md-3">
                    <label   style="margin-left: 55px;">Start Date :</label>
                    <input readonly [(ngModel)]="startdate" type="text"  placeholder={{data[0].startdate}} required name="email" class="form-control"   style="width: 160px;margin-left: 50px;color: black;">
                
                </div>
                <div class="col-md-3">
                    <label style="margin-left: 55px;">Start Time : </label>
                    <input readonly [(ngModel)]="starttime" type="text"  placeholder={{data[0].starttime}} required name="email" class="form-control"   style="width: 90px;margin-left: 50px;color: black;">
                    
                </div>
            </div>
             <br/>

            <div class="row vertical-gap sm-gap">
                <div class="col-md-4">
                    <label style="margin-left: 55px;">Game Region/Server :</label>

                    <input readonly  type="text"  placeholder={{data[0].gameregion}} required name="email" class="form-control"   style="width: 190px;margin-left: 50px;color: black;">
                </div>
                <div class="col-md-4">
                    <label style="margin-left: 55px;">Game Map :</label>
                    <input readonly type="text"  placeholder={{data[0].gamemap}} required name="email" class="form-control"   style="width: 190px;margin-left: 50px;color: black;">

                </div>


                <div class="col-md-4">
                    <label style="margin-left: 55px;"> Game Format :</label>
                    <input readonly type="text"  placeholder={{data[0].gameformat}} required name="email" class="form-control"   style="width: 190px;margin-left: 50px;color: black;">

                </div>
            </div>
            <br/><br/>

            <div class="row vertical-gap sm-gap">
                <div class="col-md-2">
                    <label style="margin-left: 55px;">Entry : </label>
                </div>

                <div class="col-md-2">
                    <input readonly type="text"  placeholder={{data[0].entry}} required name="email" class="form-control"   style="width: 150px;margin-left: 50px;color: black;">
                </div>
               

            </div>


            <br/><br/>

            <div class="row vertical-gap sm-gap">
                <div class="col-md-3">
                    <label style="margin-left: 50px;">Entry fee (per person) ESD :</label>
                    <input readonly type="text"  placeholder={{data[0].entryfee}} required name="email" class="form-control"   style="width: 140px;margin-left: 50px;color: black;">
                </div>


                <div class="col-md-3">
                    <label style="margin-left: 55px;">Minimum Teams: </label>
                    <input readonly type="text"  placeholder={{data[0].minteams}} required name="email" class="form-control"   style="width: 190px;margin-left: 50px;color: black;">
                </div>

                
                
                <div class="col-md-3">
                    <label style="margin-left: 55px;"> Maximum Teams : </label>
                    <input readonly type="text"  placeholder={{data[0].maxteams}} required name="email" class="form-control"   style="width: 190px;margin-left: 50px;color: black;">
                </div>


                <div class="col-md-3">
                    <label style="margin-left: 55px;"> Tournament fee (ESD) : </label>
                    <input readonly type="text"  placeholder={{data[0].tournamentfee}} required name="email" class="form-control"   style="width: 190px;margin-left: 50px;color: black;">
                    
                </div>
            </div>

            <br/> <br/> <br/>

            <div class="row vertical-gap sm-gap">
                <div class="col-md-3">
                    <label style="margin-left: 55px;">The Creator of  This Tournament Is A  : </label>
                </div>

                <div class="col-md-3">  
                    <input readonly type="text"  placeholder={{data[0].createtype}} required name="email" class="form-control"   style="width: 190px;margin-left: 50px;color: black;">
                </div>
                

                
            </div>
            
            <br><br><br><br>


  

            <span *ngIf="createtype === 'spectator' ">
           
            </span>

               
        

            <swal 
                 #deleteSwal
                 title="Are you sure ?"
                 text="Joining This Tournament will Cost you : {{data[0].entryfee}}  USD."   
                 icon="question"
                 [showCancelButton]="true"
                 [focusCancel]="true"
                 (confirm)="jointournamentan()"
                 >
            </swal>

                 
            <a *ngIf="!jointest" class="nk-btn nk-btn-outline nk-btn-color-success" style="margin-left: 44%; width: 150px; " [swal]="deleteSwal">
                Join
            </a>
            <br>


            <a *ngIf="jointest" class="nk-btn nk-btn-outline nk-btn-color-success" style="margin-left: 44%; width: 150px; " >
                ALready Joined
            </a>
            <br>

            <br><br>

            <div class="col-lg-4" style="margin-left: 35%;">
                <div class="nk-feature-2">
                    <div class="nk-feature-icon">
                        <div class="nk-count h2 mb-0">{{number2}}</div>
                    </div>
                    <div class="nk-feature-cont text-center">
                        <h3 class="nk-feature-title">Players Joined This Tournament</h3>
                    </div>
                </div>
            </div>
            <br><br>





                <br> <br>
            <button type="submit" class="form-control"  (click)="back()" style="width: 200px;margin-left: 450px; " >Back</button>
           
            <br/>
            
             <br/>




            

  

        </div>
    </div>
</form>

</div>
</div>
<br/> <br/> <br/>
