<div class="tab-content">
 
    <div class="wrapper">
     
       
     
     </div>
 </div>
 <div class="container">
   <div class="row align-items-start">
     <div class="col">
     <h4>  import photos from camera</h4>
     </div>
     <div class="col">
     <h4> import photos from desktop </h4>
     </div>
   </div>
   <div class="row align-items-center">
   
     <div class="col">
       <button (click)="addgif()" class="nk-btn nk-btn-rounded nk-btn-color-main-1">addd photo</button>&nbsp;
       <img [src]="uploader" onError="this.src='assets/images/team-1.jpg'">
       <button (click)="telecharger()" data-dismiss="modal">telecharger</button>
     
     </div>
     <div class="col">
       <div class="file-upload">
        <div class="form-group">
          <input  type="file" name="image" (change)="fileProgress($event)" />
      </div>
      <div *ngIf="fileUploadProgress">
          Upload progress: {{ fileUploadProgress }}
      </div>
      <div class="image-preview mb-3" *ngIf="previewUrl">
          <img [src]="previewUrl" height="100" />                 
      </div>

      <div class="mb-3" *ngIf="uploadedFilePath">
          {{uploadedFilePath}}
      </div>
      <button (click)="addimage()" data-dismiss="modal">ajouter image</button>
     
       </div>
      </div>
   </div>
   <div class="row align-items-end">
 
     <div class="col">
    <td *ngFor="let emojimage of emojimages">  <div class="pop"><img height="50" width="50" src="http://localhost:1337/emoji/{{emojimage}}.gif"> </div></td>
 
     </div>
   
   </div>
  <td><img  ></td>
  
 </div>