<div class="row vertical-gap">
    <div class="col-lg-6" *ngFor="let merch of listMerch">
        <div class="nk-product-cat-2">
            <a class="nk-product-image">
            <img src="http://localhost:1337/user_merch/{{ merch._id }}.jpg" alt="So saying he unbuckled">
            </a>
            <div class="nk-product-cont">
                <h3 class="nk-product-title h5"></h3>
                <input type="text" class="form-control" name="name" [(ngModel)]="merch.name" >
                <div class="nk-gap-1"></div>
                <textarea class="form-control" rows="6" name="description" [(ngModel)]="merch.description"></textarea>
                <div class="nk-gap-2"></div>
                Price
                <div class="nk-product-price"> <input class="form-control" type="number" min="0" name="price" [(ngModel)]="merch.price"></div>
                <div class="nk-gap-1"></div>
                Quantity
                <div class="nk-product-price"><input class="form-control" type="number" min="0" name="quantity" [(ngModel)]="merch.quantity"></div>
                <div class="nk-gap-1"></div>
                <div class="nk-product-price">Current Sales: 0</div>
                <div class="nk-gap-1"></div>
                <button (click)="updateMerch(merch)" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1"> <span class="icon ion-paper-airplane"></span> Update</button> &nbsp;
                <button (click)="deleteMerch(merch)" class="nk-btn nk-btn-rounded nk-btn-color-main-1">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="nk-gap-3"></div>
<div class="row vertical-gap">
    <div class="col-lg-12">
        <div class="d-flex justify-content-center" *ngIf="!toAdd">
            <button (click)="changeState()" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Add new merch</button>
        </div>
        <div  *ngIf="toAdd">
            <form (ngSubmit)="addUserMerch(image)">
                <img [src]="url ? url : avatarImage">
                <div class="nk-gap-1"></div>
                <input id="fileInput" type='file' (change)="onStartChangingMerchImage($event)" #image>
                <div class="nk-gap-1"></div>
                <input type="text" class="form-control" name="name" [(ngModel)]="addedMerch.name" placeholder="Name">
                <div class="nk-gap-1"></div>
                <textarea class="form-control" rows="6" name="description" [(ngModel)]="addedMerch.description" placeholder="Description"></textarea>
                <div class="nk-gap-2"></div>
                Price
                <div class="nk-product-price"><input class="form-control" name="price" [(ngModel)]="addedMerch.price" type="number" min="0" value="23"></div>
                <div class="nk-gap-1"></div>
                Quantity
                <div class="nk-product-price"><input class="form-control" name="quantity" [(ngModel)]="addedMerch.quantity" type="number" min="0" value="23"></div>
                <div class="nk-gap-1"></div>
                <button class="nk-btn nk-btn-color-primary"> <span class="icon ion-paper-airplane"></span> Add</button>
            </form>
        </div>
    </div>
</div>