<div class="nk-tabs">
    <ul class="nav nav-tabs" role="tablist">
       <li class="nav-item">
          <a class="nav-link active" href="#profile-1-1" role="tab" data-toggle="tab">Stream</a>
       </li>
       <li [hidden]="!monprofil" class="nav-item">
          <a class="nav-link" href="#profile-1-2" role="tab" data-toggle="tab">ADD chat images</a>
       </li>
    </ul>
    
    <div class="nk-gap-1"></div>
    <div class="tab-content">
       <div role="tabpanel" class="tab-pane fade show active" id="profile-1-1">
          <div class="row vertical-gap">
             <div class="col-md-8 col-lg-8">
                <div class="nk-widget nk-widget-highlighted">
                   <h4 class="nk-widget-title"><span><span class="text-main-1">Streaming</span> Video</span></h4>
                   <div class="nk-widget-content">
                      <div class="nk-post-by">
                         <img [src]="avatarUrl" onError="this.src='assets/images/team-1.jpg'" class="rounded-circle" width="35"> <a href="https://nkdev.info/"> {{ user.username }}</a>
                         <div class="nk-post-categories">
                            <button *ngIf="canSendRequest"[hidden]="!inboundClick" (click)="addAsFriend()" class="nk-btn nk-btn-rounded nk-btn-color-main-1">{{ addFriendButtonText }}</button>&nbsp;
                            <button class="nk-btn nk-btn-rounded nk-btn-color-main-1"(click)="Follow()"[hidden]="!inboundClick" >{{btn_Follow}}</button>&nbsp;
                            <button class="nk-btn nk-btn-rounded nk-btn-color-main-1" (click)="Subscribe()"[hidden]="!inboundClick">{{btn_Subscribe}}</button>
                         </div>
                      </div>
                      <div class="nk-gap-2"></div>
                      <div class="embed-responsive embed-responsive-16by9" >
                         <video id="videoElement" controls #videoPlayer autoplay loop controls>
                         </video>
                      </div>
                      <div class="nk-gap-2"></div>
                      <div *ngIf="game.gameExtraInfo">
                        <div class="nk-product-cat">
                           <a class="nk-product-image">
                               <img [src]="gameImgUrl" alt="{{ game.gameExtraInfo }}">
                           </a>
                           <div class="nk-product-cont">
                               <h3 class="nk-product-title h5">Currently Playing</h3>
                               <div class="nk-gap-1"></div>
                               <div class="nk-product-price">{{ game.gameExtraInfo }}</div>
                               <div class="nk-gap-1"></div>
                           </div>
                       </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4 col-lg-4">
                <div class="nk-widget nk-widget-highlighted">
                   <h4 class="nk-widget-title"><span><span class="text-main-1">Chat du</span> Stream</span></h4>
                   <div class="nk-widget-content">
                            
          

<div class="container">
   <div >
       <div>
           <div class="panel panel-primary">
               <div class="panel-heading">
                   <span class="glyphicon glyphicon-comment"></span>
               </div>
               <div class="panel-body">
                   <ul class="chat">
                       <li *ngFor="let x of msgList" class="left clearfix"><span class="chat-img pull-left">
                           <img [src]="avatarchat" onError="this.src='assets/images/team-1.jpg'" class="rounded-circle" width="20">
                       </span>
                           <div class="chat-body clearfix">
                               <div class="header">
                                   <strong class="primary-font">{{x.user}}</strong> <small class="pull-right text-muted">
                                       <span class="glyphicon glyphicon-time"></span>{{x.date}}</small>
                               </div>
                               <div *ngIf="x.type == 'text'"> <p>
                                {{x.msg}}
                               </p>
                               </div>
                               <div *ngIf="x.type == 'image'">
                                   <img [src]=x.msg onError="this.src='assets/images/team-1.jpg'"width="50">
                               </div>
                           </div>
                       </li>
                      
                   </ul>
               </div>
               <div class="panel-footer">
                   <i class='attachment'
                   (click)="toggled = !toggled"
                   [(emojiPickerIf)]="toggled"
                   [emojiPickerDirection]="'top'"
                   (emojiPickerSelect)="handleSelection($event)">😄</i>
                <i [hidden]="issubscribe"(click)="newemoji()">🔥</i>
                
                   <div class="input-group">

                    <input [(ngModel)]="msg" id="btn-input" type="text" class="form-control input-sm" [ngModelOptions]="{standalone: true}"
                       (keypress)="IsTyping()" placeholder="Write your message..."  [disabled]="isDisabled" (keyup.enter)="sendMessage()" />
                       <span class="input-group-btn">
                           <button class="nk-btn nk-btn-rounded nk-btn-color-main-1" id="btn-chat"(click)="sendMessage()" >
                               Send</button>
                       </span>
                   </div>
               </div>
           </div>
       </div>
   </div>

   <div class="alert" [class.visible]="isVisible" click="closealert()"> 
       <div class="ex1">
      <tr>
           <td *ngFor="let emojimage of emojimages" >
             <span (click)="sendImage(emojimage)">    <div class="pop"><img height="50" src="http://localhost:1337/emoji/{{emojimage}}.gif"> </div>
           </span> 
           </td>

           
       </tr>
</div>
       </div>
 
</div>
           
                   </div>
                </div>
             </div>
          </div>
          <div class="nk-gap"></div>
       </div>
       <div role="tabpanel" class="tab-pane fade" id="profile-1-2">
          <div class="nk-gap"></div>
          <div class="nk-info-box nk-info-box-noicon">
             <div class="col-md-12">
               <app-my-emoji></app-my-emoji>
             </div>
          </div>
       </div>

    </div>
 </div>
 
 