

<div class="nk-tabs">
    <ul class="nav nav-tabs" role="tablist">
       <li class="nav-item">
          <a class="nav-link active" href="#profile-1-1" role="tab" data-toggle="tab">Stream</a>
       </li>
       <li class="nav-item">
          <a class="nav-link" href="#profile-1-2" role="tab" data-toggle="tab">Merch</a>
       </li>
    </ul>
    <div class="tab-content">
       <div role="tabpanel" class="tab-pane fade show active" id="profile-1-1">
          <div class="nk-gap"></div>
          <div class="row vertical-gap sm-gap">
             <div class="col-md-8 col-lg-8">
                <div class="nk-widget nk-widget-highlighted">
                   <h4 class="nk-widget-title"><span><span class="text-main-1">Streaming</span> Video</span></h4>
                   <div class="nk-widget-content">
                      <div class="nk-post-by">
                         <img [src]="avatarUrl" onError="this.src='assets/images/team-1.jpg'" class="rounded-circle" width="35"> <a href="https://nkdev.info/"> {{ user.username }}</a>
                         <div class="nk-post-categories">
                            <button class="nk-btn nk-btn-rounded nk-btn-color-main-1">Action 1</button>
                            <button class="nk-btn nk-btn-rounded nk-btn-color-main-1">Action 2</button>
                         </div>
                      </div>
                      <div class="nk-gap"></div>
                      <div class="embed-responsive embed-responsive-16by9">
                         <video id="videoElement" controls #videoPlayer autoplay loop controls>
                         </video>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4 col-lg-4">
                <div class="nk-widget nk-widget-highlighted">
                   <h4 class="nk-widget-title"><span><span class="text-main-1">Chat du</span> Stream</span></h4>
                   <div class="nk-widget-content">
                      <div class="embed-responsive embed-responsive-21by9">
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="nk-gap"></div>
       </div>
       <div role="tabpanel" class="tab-pane fade" id="profile-1-2">
          <div class="nk-gap"></div>
          <div class="nk-info-box nk-info-box-noicon">
             <div class="col-md-12">
                <app-show-profile></app-show-profile>
             </div>
          </div>
       </div>
    </div>
 </div>
 
 