<div class="row">
    <div class="col-md-8 col-lg-8">
  <div class="nk-widget nk-widget-highlighted">
    <h4 class="nk-widget-title"><span><span class="text-main-1">Streming</span> Video</span></h4>
    <div class="nk-widget-content">
        <div class="embed-responsive embed-responsive-16by9">
            <video id="videoElement" controls (click)="toggleVideo()" #videoPlayer autoplay loop controls >
                
     </video>
    </div>
     </div>   
  </div>
  </div>
  <div class="col-md-3 col-lg-3">
    <div class="nk-widget nk-widget-highlighted">
      <h4 class="nk-widget-title"><span><span class="text-main-1">Chat du</span> Stream</span></h4>
      <div class="nk-widget-content">
        <div class="embed-responsive embed-responsive-21by9">
           
       </div>   
    </div>
    </div>
  </div>
  