<ul class="nk-breadcrumbs">
    <li><span>BET.GG</span></li>
</ul>
<div class="nk-gap-1"></div>
<div class="nk-tabs  ">
    
    <div class="nk-gap"></div>

    <div class="row">
        <div class="nk-gap"></div>

    <div class="tab-content col-12">
       



        <div role="tabpanel"  class="tab-pane  active show" id="profile-1-1">
            <div class="nk-info-box nk-info-box-noicon">
              
                <div   class="mx-auto">
                    <div class="nk-gap-2"></div>
                    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Coupon  </span>  Details</span> </h3>
                    <div class="nk-gap"></div>
                   
                    <div class="nk-gap"></div>

                    
                    <div class="nk-gap"></div>

                    <h5 class="nk-decorated-h-1"><span><span class="text-main-1">Coupon  </span>  ID : </span> {{idth}}</h5>
                    <table class="table table-dark">
                        <thead>
                          <tr >
                        
                            <th scope="col">match id </th>
                            <th scope="col">Match Time </th>
                            <th scope="col">team1 vs team 2 </th>
                            <th scope="col">who will win </th>
                            <th scope="col">winner</th>
                            <th scope="col">result</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of bcop" >
                           
                            <td>{{item.matchid}}</td>
                            <td>{{item.Playedat| date:'short'}}</td>
                            <td>{{item.team1}} vs {{item.team2}}</td>
                            <td>{{item.whowillwin}}</td>
                            <td>{{item.winner}}</td>
                            <td *ngIf="item.result === 'en cours' " >  <i  class="fas fa-info-circle" style="color: sandybrown;"></i></td>
                            <td *ngIf="item.result === 'correct'" > <i class="fas fa-check-circle" style="color: springgreen;"></i></td>
                            <td *ngIf="item.result === 'wrong'" > <i class="fas fa-times-circle" style="color:tomato;"></i></td>
                            
                           
                          </tr>
                       
                        
                          <tr>
                            <td *ngIf="coupstatus === 'en cours' " > Coupon Status :  <i  class="fas fa-info-circle" style="color: sandybrown;"></i></td>
                            <td *ngIf="coupstatus === 'won'" > Coupon Status :  <i class="fas fa-check-circle" style="color: springgreen;"></i></td>
                            <td *ngIf="coupstatus === 'lost'" > Coupon Status :  <i class="fas fa-times-circle" style="color:tomato;"></i></td>
                            
                            
                          
                          <td>  Amount played : {{coupp.montant}} ESD </td>
                          <td> Potentiel  Gain : {{  coupp.potentielgain}} ESD</td>
                          <td> </td>
                          <td><span  class="nk-forum-action-btn" style="display: initial;
                            flex-direction: column;">
                         you can send  a  report by clicking on this icon 
                          <a class="nk-anchor"     ><span class="fab fa-flag"    data-toggle="modal" data-target="#modalThread"   ></span> </a>
                      </span></td>
                          </tr>
                        
                        </tbody> 
                      </table>
            </div>
          
            <div class="nk-gap"></div>
        </div>
    </div>

    <div class="nk-modal modal fade" id="modalThread" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="ion-android-close"></span>
                    </button>
    
                    <h4 class="mb-0"><span class="text-main-1">Coupon Result </span> Report</h4>
    
                    <div class="nk-gap-1"></div>
                    <form action="#" class="nk-form text-white" [formGroup]="userForm">
                        <div class="row vertical-gap">
                            <div class="col-md-9">
                               
                                Report title
    
                                <input  #title type="text" formControlName="title" ng-model="inputText" class=" form-control" placeholder="title">
                                <div #ref *ngIf="NameC.invalid && NameC.touched" [ngStyle]="styleClass">  
                                    <div  *ngIf=" NameC.errors.required">
                                        title obligatoire
                                    </div>
                                    <div  *ngIf=" NameC.errors.minlength" >
                                      minimum 2 caracteres
                                      </div>
                                  </div>
    
                                <div class="nk-gap"></div>
                                Report Description
                                <div class="nk-gap"></div>
                              <textarea #description class="form-control required" formControlName="description" name="message" rows="5" placeholder="description *"></textarea>
                                  <div #ref *ngIf="DescriptionC.invalid && DescriptionC.touched" [ngStyle]="styleClass">  
                                  <div  *ngIf=" DescriptionC.errors.required">
                                      description  obligatoire
                                  </div>
                           
                                </div>
                          </div>
                            
                            
                                    
                             
                           
                            
                        </div>
    
                        <div class="nk-gap-1"></div>
                        <div class="row vertical-gap">
                            <div class="col-md-6" *ngIf="(!(NameC.invalid) && !(DescriptionC.invalid))">
                                <a (click)="addcouponreport(title.value,description.value)" data-dismiss="modal"  class="nk-btn nk-btn-rounded nk-btn-color-black nk-btn-block">send Report</a>
                            </div>
                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    