<ul class="nk-breadcrumbs">
    <li><span>BET.GG</span></li>
</ul>
<div class="nk-gap-1"></div>
<div class="nk-tabs  ">
    
    <div class="nk-gap"></div>

    <div class="row">
        <div class="nk-gap"></div>

    <div class="tab-content col-10">
       



        <div role="tabpanel"  class="tab-pane  active show" id="profile-1-1">
            <div class="nk-info-box nk-info-box-noicon">
              
                <div   class="mx-auto">
                    <div class="nk-gap-2"></div>
                    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Coupon  </span>  Details</span> </h3>
                    <div class="nk-gap"></div>
                   
                    <div class="nk-gap"></div>

                    
                    <div class="nk-gap"></div>

                    <h5 class="nk-decorated-h-2"><span><span class="text-main-1">Coupon  </span>  ID : </span> {{idth}}</h5>
                    <table class="table table-dark">
                        <thead>
                          <tr >
                        
                            <th scope="col">match id </th>
                            <th scope="col">Match Time </th>
                            <th scope="col">team1 vs team 2 </th>
                            <th scope="col">who will win </th>
                            <th scope="col">winner</th>
                            <th scope="col">result</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of bcop" >
                           
                            <td>{{item.matchid}}</td>
                            <td>{{item.Playedat| date:'short'}}</td>
                            <td>{{item.team1}} vs {{item.team2}}</td>
                            <td>{{item.whowillwin}}</td>
                            <td>{{item.winner}}</td>
                            <td *ngIf="item.result === 'en cours' " >  <i  class="fas fa-info-circle" style="color: sandybrown;"></i></td>
                            <td *ngIf="item.result === 'correct'" > <i class="fas fa-check-circle" style="color: springgreen;"></i></td>
                            <td *ngIf="item.result === 'wrong'" > <i class="fas fa-times-circle" style="color:tomato;"></i></td>
                            
                           
                          </tr>
                          <tr>
                            <div class="nk-gap"></div>
                          </tr>
                          
                          <tr>
                            <td *ngIf="coupstatus === 'en cours' " > Coupon Status :  <i  class="fas fa-info-circle" style="color: sandybrown;"></i></td>
                            <td *ngIf="coupstatus === 'won'" > Coupon Status :  <i class="fas fa-check-circle" style="color: springgreen;"></i></td>
                            <td *ngIf="coupstatus === 'lost'" > Coupon Status :  <i class="fas fa-times-circle" style="color:tomato;"></i></td>
                            <td>Pay Status :   {{paystatus}} </td>
                          </tr>
                        
                        </tbody>
                      </table>
            </div>
          
            <div class="nk-gap"></div>
        </div>
    </div>
