
<!-- <div class="nk-modal modal fade" id="modalThread" tabindex="-1" role="dialog" aria-hidden="true">
 -->   <!--  <div class="modal-dialog modal-lg" role="document"> -->
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="ion-android-close"></span>
            </button>

         

            <div class="nk-gap-1"></div>
            <form action="#" class="nk-form text-white">
                <div class="row vertical-gap">
                    <div class="col-md-12">
                       
                        Enter  your private key here
                        <div class="nk-gap"></div>
                        <input  #key type="text" ng-model="inputText" class=" form-control" placeholder="title" required>
                        <a   id="keyprob"  #keyprob style="text-align: center;" hidden  class="nk-btn nk-btn-xs nk-btn-rounded nk-btn-color-danger text-white">     invalid Key              </a>
                       
                    </div>
                    
                    
                            
                     
                   
                    
                </div>

                <div class="nk-gap-1"></div>
                <div class="row vertical-gap">
                    <div class="col-md-6">
                        <a (click)="enterpublickey(key.value)" data-dismiss="modal"  class="nk-btn nk-btn-rounded nk-btn-color-black nk-btn-block">send coupon</a>
                       
                    </div>
                   
                </div>
            </form>
        </div>
    </div>
<!-- </div> -->
<!-- </div>
-->