
 <a  (click)="getTournament()" class="nk-btn nk-btn-rounded nk-btn-color-main-1" style="margin-left: 40%;">Join a private Tournament</a>
 <br>
 <br>


 <input  *ngIf="fieldprivate"  [(ngModel)]="accessCode" required name="accessCode"  class="form-control"   style="width: 280px;margin-left: 38%;color:aliceblue;" placeholder="Write here your private key tournament ."  >
<br><br>

<div  *ngIf="tester" class="nk-info-box text-danger">
    <div class="nk-info-box-icon">
        <i class="ion-close-round"></i>
    </div>
    <h3>Error!</h3>
    <em>Your Access Code is Wrong , There is No Tournament With This Code  , Please Verify Your Code Or Contact The Support  !</em>
</div>



<br><br><br><br>
<div class="col-lg-12">
    <div class="nk-feature-1">
        <div class="nk-feature-icon">
            <img src="assets/images/icon-mouse.svg" alt="">
        </div>  
        <div class="nk-feature-cont">
            <h5 style="color: aliceblue;" ><a href="#" style="color: aliceblue;">Game name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Start Date  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Prize Pool &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Play Mode  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Players </a></h5> 
            <h5><a href="#">Tournament name</a></h5>
        </div>
    </div>
</div>
<br><br><br><br>


<div class="col-lg-12">
    <div class="nk-feature-1">
        <div class="nk-feature-icon">
            <img src="assets/images/icon-mouse.svg" alt="">
        </div>  
        <div class="nk-feature-cont">
            <h5 style="color: aliceblue;" ><a href="#" style="color: aliceblue;">Game name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Start Date  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Prize Pool &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Play Mode  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Players </a></h5> 
            <h5><a href="#">Tournament name</a></h5>
        </div>
    </div>
</div>
<br><br><br><br>


<div class="col-lg-12">
    <div class="nk-feature-1">
        <div class="nk-feature-icon">
            <img src="assets/images/icon-mouse.svg" alt="">
        </div>  
        <div class="nk-feature-cont">
            <h5 style="color: aliceblue;" ><a href="#" style="color: aliceblue;">Game name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Start Date  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Prize Pool &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Play Mode  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Players </a></h5> 
            <h5><a href="#">Tournament name</a></h5>
        </div>
    </div>
</div>
<br><br><br><br>


<div class="col-lg-12">
    <div class="nk-feature-1">
        <div class="nk-feature-icon">
            <img src="assets/images/icon-mouse.svg" alt="">
        </div>  
        <div class="nk-feature-cont">
            <h5 style="color: aliceblue;" ><a href="#" style="color: aliceblue;">Game name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Start Date  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Prize Pool &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Play Mode  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Players </a></h5> 
            <h5><a href="#">Tournament name</a></h5>
        </div>
    </div>
</div>
<br><br><br><br>