
<div class="container">
    <div class="nk-footer">
        <label style="margin-left: 420px;margin-top: 30px;" > <h4>Create New Tournament </h4></label>
<form action="#" class="nk-form text-white" #myform="ngForm">


    <div class="row vertical-gap">
        <div class="col-md-12">
            <div class="nk-gap"></div>
            
            

            <label style="margin-left: 55px;">Selected Game</label>
            <input   readonly="true" class="form-control"   style="width: 280px;margin-left: 50px;color: black;" placeholder="League Of Legend"  >
            <br/><br/>
            
            <div class="row vertical-gap sm-gap">
                <div class="col-md-2">
                    <label style="margin-left: 55px;">Type : </label>
                </div>

                <div class="col-md-2">
                <input  [(ngModel)]="type" type="radio"  value="private" name="gender" class=""> &nbsp;&nbsp;
                <label for="single" style="color: darkgray;">private</label> <br/>
                <input type="radio" [(ngModel)]="type"  value="public" name="gender" class=""> &nbsp;&nbsp;
                <label for="team" style="color: darkgray;">public</label>
                </div>

            </div>
            
            

            <br/>
            <label style="margin-left: 55px;">Tournament Name</label>
            <input [(ngModel)]="tournamentname"  type="email" value="" required name="email" class="form-control"   style="width: 280px;margin-left: 50px;">
            <br/>

            <div class="row vertical-gap sm-gap">
                <div class="col-md-3">
                    <label   style="margin-left: 55px;">Start Date</label>
                    <input [(ngModel)]="startdate" type="date"  required name="email" class="form-control"   style="width: 190px;margin-left: 50px;">
                
                </div>
                <div class="col-md-3">
                    <label style="margin-left: 55px;">Start Time </label>
                    <input [(ngModel)]="starttime" type="time"  required name="email" class="form-control"   style="width: 90px;margin-left: 50px;">
                    
                </div>
            </div>
             <br/>

            <div class="row vertical-gap sm-gap">
                <div class="col-md-4">
                    <label style="margin-left: 55px;">Game Region/Server</label>




                        <select (change)="selectChangeHandler($event)" style="width: 280px;margin-left: 50px;height: 33px;" >
                            <option style="display:none;" selected>Select Your Region/Server</option>
                            <option value="Brazil">Brazil</option>
                            <option value="EU Nordic & East">EU Nordic & East</option>
                            <option value="EU West">EU West</option>
                            <option value="Japan">Japan</option>
                            <option value="Korea">Korea</option>
                            <option value="Latin America North">Latin America North</option>
                            <option value="Latin America South">Latin America South</option>
                            <option value="North America">North America</option>
                            <option value="Oceania">Oceania</option>
                            <option value="Russia">Russia</option>
                            <option value="Turkey">Turkey</option>
                        </select>
                        

                  



                </div>
                <div class="col-md-4">
                    <label style="margin-left: 55px;">Game Map </label>
                    <select (change)="selectChangeHandlerMap($event)"  style="width: 280px;margin-left: 50px;height: 33px;">
                        <option style="display:none;" selected>Select Your Map</option>
                        <option value="Summoners Rift">Summoners Rift</option>
                        <option value="Twisted Treeline">Twisted Treeline</option>
                        <option value="Howling Abyss">Howling Abyss</option>
                      </select>

                </div>


                <div class="col-md-4">
                    <label style="margin-left: 55px;"> Game Format </label>
                    <select (change)="selectChangeHandlerFormat($event)" style="width: 280px;margin-left: 50px;height: 33px;">
                        <option style="display:none;" selected>Select Your Format</option>
                        <option value="Tournament Draft">Tournament Draft</option>
                        <option value="Blind Pick">Blind Pick</option>
                        <option value="Draft Mode">Draft Mode</option>
                        <option value="All Random Abyss">All Random Abyss</option>
                      </select>

                </div>
            </div>
            <br/><br/>

            <div class="row vertical-gap sm-gap">
                <div class="col-md-2">
                    <label style="margin-left: 55px;">Entry : </label>
                </div>

                <div class="col-md-2">
                <input [(ngModel)]="entry"  type="radio"  name="entry" value="singlePlayer" class=""> &nbsp;&nbsp;
                <label for="single" style="color: darkgray;">Single Player</label> <br/>
                <input  [(ngModel)]="entry" type="radio"  name="entry" value="team" class=""> &nbsp;&nbsp;
                <label for="team" style="color: darkgray;">Team</label>
                </div>
               

            </div>


            <br/><br/>

            <div class="row vertical-gap sm-gap">
                <div class="col-md-3">
                    <label style="margin-left: 50px;">Entry fee (per person) ESD :</label>
                    <input [(ngModel)]="entryfee"  type="number" value="0" required name="entryfee" class="form-control" min="1"    style="width: 80px;margin-left: 50px;">
                </div>


                <div class="col-md-3">
                    <label style="margin-left: 55px;">Minimum Teams </label>
                    <input [(ngModel)]="minteams"  type="number" value="0" required name="min" class="form-control" min="1"   max="16" style="width: 80px;margin-left: 50px;">
                </div>

                
                
                <div class="col-md-3">
                    <label style="margin-left: 55px;"> Maximum Teams </label>
                    <input [(ngModel)]="maxteams"  type="number" value="0" required name="max" class="form-control" min="2"   max="32" style="width: 80px;margin-left: 50px;">
                </div>


                <div class="col-md-3">
                    <label style="margin-left: 55px;"> Tournament fee (ESD) : </label>
                    <label [(ngModel)]="tournamentfee"  required  name="tournamentfee" style="width: 80px;margin-left: 100px;border-style: outset;text-align: center;"> {{maxteams * entryfee/2}}</label>
                    
                </div>
            </div>

            <br/> <br/> <br/>

            <div class="row vertical-gap sm-gap">
                <div class="col-md-3">
                    <label style="margin-left: 55px;">You Are Creating This Tournament As A  : </label>
                </div>

                <div class="col-md-3">  
                <input [(ngModel)]="createtype" type="radio"  name="tourtype" value="spectator" class=""> &nbsp;&nbsp;
                <label for="single" style="color: darkgray;">Spectator</label> <br/>
                <input [(ngModel)]="createtype" type="radio"  name="tourtype" value="participant" class=""> &nbsp;&nbsp;
                <label  for="team" style="color: darkgray;">Participant</label>
                </div>
                

                
            </div>
            <br/><br/>


  

            <span *ngIf="createtype === 'spectator' ">
           
            </span>

               
        

            <swal 
                 #deleteSwal
                 title="Are you sure ?"
                 text="This Tournament will Cost you : {{lastPrice}}  USD."   
                 icon="question"
                 input = "text"
                 [showCancelButton]="true"
                 [focusCancel]="true"
                 (confirm)="justClick($event)"
                 >
            </swal>

     


            <button type="submit" class="submitButton"   [swal]="deleteSwal" style="width: 200px;margin-left: 450px; " >Submit</button>
            <br/>
            
             <br/>




            

  

        </div>
    </div>
</form>

</div>
</div>
<br/> <br/> <br/>