<ul class="nk-forum nk-forum-topic">
    <div class="nk-gap-1"></div>
    
    <li>
        <div class="nk-forum-topic-author">
            <a href="#">
                <img src="http://localhost:1337/avatars/{{uss.id_user}}.jpg" alt="Hitman">
            </a>
            <div class="nk-forum-topic-author-name" title="Hitman">
                <a href="#">{{uss.firstName }}  {{uss.lastName}} </a>
            </div>
            <div class="nk-forum-topic-author-role">{{uss.username}}</div>
            <div class="nk-forum-topic-author-since">
                {{uss.role}}
            </div>
        </div>
        <div class="nk-forum-topic-content">
            <p>{{thrp.description}}</p>

            <div class="nk-forum-topic-attachments">
                <h4 class="h5">Attachments</h4>
                <div class="nk-news-box-item-image">
                <img height="260" src="http://localhost:1337/thread_attachements/{{thrp._id}}.jpg">
            </div>
                <br>
                <div class="nk-forum-topic-footer">
                    <span class="nk-forum-topic-date">{{thrp.addtime| date:'short'}}</span>
                    <span class="nk-forum-action-btn">
                        <a class="nk-anchor"  (click)="addliketothread()" *ngIf="didlike == 0"  ><span class="fa fa-thumbs-up"    ></span> Like</a>
                        <a class="nk-anchor"  *ngIf="didlike == 1"  ><span class="fab fa-gratipay"    ></span> </a>

                    </span> 
                    <span class="nk-forum-action-btn">
                        <a> {{thrp.likes}}</a>
                    </span>
                  
                  
                    
                </div>  
            </div>
         
        </div>
       
    </li>



    <li *ngFor="let item of listpostss">
        <div class="nk-forum-topic-author">
            <a href="#">
                <img src="http://localhost:1337/avatars/{{item.sender.id_user}}.jpg" alt="Witch Murder">
            </a>
            <div class="nk-forum-topic-author-name" title="Witch Murder">
                <a href="#">{{item.sender.username}}</a>
            </div>
            <div class="nk-forum-topic-author-role">Participant</div>
            <div class="nk-forum-topic-author-since">
                {{item.sender.firstName}} {{item.sender.lastName}}
            </div>
        </div>
        <div class="nk-forum-topic-content">
            <p>{{item.content}}.</p>
        </div>
        <div class="nk-forum-topic-footer">
            <span class="nk-forum-topic-date">{{item.replytime | date: 'short'}} {{ item.cani}}</span>
            <span  class="nk-forum-action-btn">
                <a class="nk-anchor" *ngIf="item.cani == true"  id="{{item._id}}" (click)="addlike(item.id)"><span class="fa fa-thumbs-up"></span> Like </a>
            </span> 
            <span  class="nk-forum-action-btn">
                <a class="nk-anchor" *ngIf="item.cani == false"  ><span class="fab fa-gratipay"     ></span> </a>
            </span>
            <span class="nk-forum-action-btn">
                <a> {{item.likes}}</a>
            </span>
            <span  class="nk-forum-action-btn">
                <a class="nk-anchor"  (click)="laodreply(item)"   ><span class="fab fa-flag"    data-toggle="modal" data-target="#modalThread"   ></span> </a>
            </span>
        </div>
    </li>
   
</ul>

<!-- END: Pagination -->

<div id="forum-reply"></div>
<div class="nk-gap-2"></div>
<!-- START: Reply -->
<form action="#" novalidate *ngIf="userforumstate == 1">
    <h3 class="h4">Reply</h3>
    <div class="nk-gap-1"></div>
    <textarea   #content name="reply" cols="30" rows="10" class="nk-summernote form-control"></textarea>
    <div class="nk-gap-1"></div>
    <button (click)="addreply(content.value)"  class="nk-btn nk-btn-rounded nk-btn-color-white">Reply</button>
</form>
<span  class="nk-forum-action-btn"  *ngIf="userforumstate == 0">
   <a style="color: red ;">   you are banned from forum service u can send us an e-mail by clicking on this icon</a>
    <a  class="nk-anchor"   style="margin-left: 15px;"  ><span class="fab fa-flag"    data-toggle="modal" data-target="#modalemail"   ></span> </a>
</span>
<div class="nk-gap-2"></div>



<div class="nk-modal modal fade" id="modalThread" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>

                <h4 class="mb-0"><span class="text-main-1">Reply </span> Report</h4>

                <div class="nk-gap-1"></div>
                <form [formGroup]="userForm" action="#" class="nk-form text-white" >
                    <div class="row vertical-gap">
                        <div class="col-md-9">
                           
                            Report title

                            <div class="nk-gap"></div>
                            <input  #title type="text" formControlName="title" ng-model="inputText" class=" form-control" >
                            <div #ref *ngIf="NameC.invalid && NameC.touched" [ngStyle]="styleClass">  
                                <div  *ngIf=" NameC.errors.required">
                                    title obligatoire
                                </div>
                                <div  *ngIf=" NameC.errors.minlength" >
                                  minimum 2 caracteres
                                  </div>
                              </div>
                            <div class="nk-gap"></div>
                            Report Description
                            <div class="nk-gap"></div>
                            <textarea #description class="form-control required" formControlName="description" name="message" rows="5" placeholder="description *"></textarea>
                                <div #ref *ngIf="DescriptionC.invalid && DescriptionC.touched" [ngStyle]="styleClass">  
                                <div  *ngIf=" DescriptionC.errors.required">
                                    description  obligatoire
                                </div>
                         
                              </div>
                        </div>
                        
                        
                                
                         
                       
                        
                    </div>

                    <div class="nk-gap-1"></div>
                    <div class="row vertical-gap">
                        <div div class="col-md-6"  *ngIf="(!(NameC.invalid) && !(DescriptionC.invalid)) " >
                            <a (click)="addreplyreport(modalitem,title.value,description.value)" data-dismiss="modal"  class="nk-btn nk-btn-rounded nk-btn-color-black nk-btn-block">send report</a>
                        </div>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="nk-modal modal fade" id="modalemail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>

                <h4 class="mb-0"><span class="text-main-1">Contact </span> Support</h4>

                <div class="nk-gap-1"></div>
                <form [formGroup]="userForm" action="#" class="nk-form text-white" >
                    <div class="row vertical-gap">
                        <div class="col-md-9">
                           
                            Report title

                            <div class="nk-gap"></div>
                            <input  #desctitle type="text" formControlName="desctitle" ng-model="inputText" class=" form-control">
                            <div #ref *ngIf="desctitleC.invalid && desctitleC.touched" [ngStyle]="styleClass">  
                                <div  *ngIf=" desctitleC.errors.required">
                                    email description 
                                </div>
                                <div  *ngIf=" desctitleC.errors.minlength" >
                                  minimum 2 caracteres
                                  </div>
                              </div>
                            <div class="nk-gap"></div>
                            email content
                            <div class="nk-gap"></div>
                            <textarea #contentdescription class="form-control required" formControlName="contentdescription" name="message" rows="5" placeholder="description *"></textarea>
                                <div #ref *ngIf="contentdescriptionC.invalid && contentdescriptionC.touched" [ngStyle]="styleClass">  
                                <div  *ngIf=" contentdescriptionC.errors.required">
                                    description  obligatoire
                                </div>
                         
                              </div>
                        </div>
                        
                        
                                
                         
                       
                        
                    </div>

                    <div class="nk-gap-1"></div>
                    <div class="row vertical-gap">
                        <div div class="col-md-6"  *ngIf="(!(desctitleC.invalid) && !(contentdescriptionC.invalid)) " >
                            <a  data-dismiss="modal" (click)="sendmail(contentdescription.value,desctitle.value)" class="nk-btn nk-btn-rounded nk-btn-color-black nk-btn-block">send Mail</a>
                        </div>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>