<ul class="nk-breadcrumbs">
    <li><span>Account Verification</span></li>
</ul>
<div class="nk-gap-1"></div>
<div class="row vertical-gap text-white" *ngIf="isValidated">
    <div class="col-lg-12">
        <div class="nk-box-2 bg-dark-2">
            <h4>Welcome!</h4>
            Your account has been successfully activated, you now have access to every feature on our platform!<br>
            <a routerLink="">Go back to homepage</a>
        </div>
    </div>
</div>
<div class="nk-gap-1"></div>