<ul class="nk-breadcrumbs">
    <li><span>coaching desk</span></li>
</ul>
<div></div>

<div  class="nk-info-box nk-info-box-noicon " >
    <div class="row">
    <div  *ngFor="let item of players"  class="col-4 " style="background: rgb(56, 66, 86); padding: 20;">
    <div class="nk-gallery-item-box " >
        <a (click)="getplayerdetails(item)" class="nk-gallery-item" >
            <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
            <img src="http://localhost:1337/avatars/{{item.user.id_user}}.jpg"   style="height: 300px;" >
        </a>
       
     
    </div>
    <div  class="nk-widget-content" style="padding: 20px 15px 40px 15px;">
        <div id="DIV_1" style="width: 100%;" >
            <div id="DIV_2">
                <img  (click)="getplayerdetails(item)"src="https://www.proguides.com/public/media/logos/logo_small.png" id="IMG_3" alt='' />
            </div>
        </div>    
        <div style="text-align: center; padding-top: 15px;"> {{ item.user.firstname}}  {{item.user.lastname}} </div>
        <div style="text-align: center; padding-top: 15px;">Ingame : {{item.summonername}} </div>
        <div style="text-align: center; padding-top: 15px;">Server : {{item.server}} </div>
        <div style="text-align: center; padding-top: 15px;">e-mail : {{ item.user.email}} </div>
        <span class="nk-product-rating " style="padding-top: 15px;margin-left: 65px;">
           
        </span>
     </div>
     <br/>
</div>
</div>

</div>