<form action="#" class="nk-form text-white" #myform="ngForm" (ngSubmit)="register(myform, agree.checked, confirm_pass.value)">

    <ul class="text-main-1 pl-20" *ngIf="errors.length > 0">
        <li class="text-white" *ngFor="let error of errors"><span>{{ error }}</span></li>
    </ul>

    <div class="row vertical-gap">
        <div class="col-md-12">
            <div class="nk-gap"></div>
            <input type="email" value="" required name="email" class="form-control" placeholder="Email (required)" [(ngModel)]="user.email">
            <div class="nk-gap"></div>
            <input type="text" value="" required name="username" class="form-control" placeholder="Username (required)" [(ngModel)]="user.username">
            <div class="nk-gap"></div>
            <div class="row vertical-gap sm-gap">
                <div class="col-md-6">
                    <input type="password" value="" required name="password" class="form-control" placeholder="Password (required)" [(ngModel)]="user.password">
                </div>
                <div class="col-md-6">
                    <input type="password" value="" required name="password_confirm" class="form-control" placeholder="Confirm (required)" #confirm_pass>
                </div>
            </div>
            <div class="nk-gap"></div>
            <div class="row vertical-gap sm-gap">
                <div class="col-md-6">
                    <input type="text" value="" name="firstName" class="form-control" placeholder="First Name" [(ngModel)]="user.firstName">
                </div>
                <div class="col-md-6">
                    <input type="text" value="" name="lastName" class="form-control" placeholder="Last Name" [(ngModel)]="user.lastName">
                </div>
            </div>
            <div class="nk-gap"></div>
            <label>Date of birth</label>
            <input type="date" value="" name="dob" class="form-control" placeholder="Date of birth" [(ngModel)]="user.dob" >
            <div class="nk-gap"></div>
            <input type="checkbox" value="agreed" name="agreed" #agree> I agree with the terms of use.
            <div class="nk-gap"></div>
            <input type="submit" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block" value="Sign Up" >
        </div>
    </div>
</form>