<form action="#" class="nk-form text-white">
    <div class="row vertical-gap">
        <div class="col-md-12">
            <div class="nk-gap"></div>
            <input type="email" value="" name="email" class="form-control" placeholder="Email" [(ngModel)]="user.email">
            <div class="nk-gap"></div>
            <input type="text" value="" name="username" class="form-control" placeholder="Username" [(ngModel)]="user.username">
            <div class="nk-gap"></div>
            <input type="password" value="" name="password" class="form-control" placeholder="Password" [(ngModel)]="user.password">
            <div class="nk-gap"></div>
            <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block">Sign Up</a>
        </div>
    </div>
</form>
