<div class="row vertical-gap">
    <div class="col-lg-6" *ngFor="let friend of friendShips['friendsList']">
        <div class="nk-product-cat-2">
            <a class="nk-product-image">
                <img src="http://localhost:1337/avatars/{{ friend._id }}.jpg" alt="{{ friend.username }}">
            </a>
            <div class="nk-product-cont">
                <h3 class="nk-product-title h5">{{ friend.username }}</h3>
                <div class="nk-gap-3"></div>
                <button (click)="deleteFriend(friend)" class="nk-btn nk-btn-rounded nk-btn-color-main-1">Delete</button>
            </div>
        </div>
    </div>
</div>