
<h2 style="text-align: center;" > SELECT YOUR GAME </h2> <br/>






<form style="display: inline;">          

     <div class="row vertical-gap sm-gap">
        <div style="margin-left: 400px;">
            <input type="text" class="form-control" placeholder="Select Your Game..." style="width: 300px;height: 35px;">
        </div>
        <div style="margin-left: 30px;">
            <button class="nk-btn nk-btn-color-main-1" ><span class="ion-search"></span></button>
        </div>
    </div>
</form>

<br/> <br/><br/>

    <!-- START: Products -->
    <div class="row vertical-gap">
        
        <div style="margin-left: 200px;" class="col-md-2" >
            <div class="nk-product-cat" >
                <a class="nk-product-image" routerLink="/requesttournamentform" >
                    <img src="assets/images/lol.jpg" alt="So saying he unbuckled" >
                </a>
            </div>
            <br/>
            <div><p style="color: aliceblue;">League Of Legends</p></div>
        </div>
        

        <div class="col-md-2">
            <div class="nk-product-cat">
                <a class="nk-product-image">
                    <img src="assets/images/hs.jpg" alt="However, I have reason">
                </a>
                
            </div>
            <br/>
            <div><p style="color: aliceblue;">Hearthstone</p></div>
        </div>

        <div class="col-md-2">
            <div class="nk-product-cat">
                <a class="nk-product-image" >
                    <img src="assets/images/fortnite.jpg" alt="However, I have reason">
                </a>
                
            </div>
            <br/>
            <div><p style="color: aliceblue;">Fortnite</p></div>
        </div>
        <div class="col-md-2">
            <div class="nk-product-cat">
                <a class="nk-product-image" >
                    <img src="assets/images/Overwatch.jpg" alt="However, I have reason">
                </a>
                
            </div>
            <br/>
            <div><p style="color: aliceblue;">Overwatch</p></div>
        </div>       
        
        
         

        
    </div>
    <!-- END: Products -->

    <br/><br/><br/>



      
     